.btn {
  border: none;
  outline: none;
  font-family: $heading-font;
  @include transition(
    background-color 0.3s ease-in,
    color 0.3s ease-in,
    border 0.3s ease-in,
    text-decoration 0.3s ease-in
  );
  cursor: pointer;
  // @include box-shadow;
  &__primary {
    @include font(14px, lighter, 14px);
    margin: 4px;
    background-color: $blackest;
    font-weight: bold;
    color: $white;
    padding: 16px 24px;
    border: 1px solid black;

    &:hover {
      background-color: $white;
      color: $black !important;
    }
    &_white {
      color: $black;
      background-color: $white;
      &:hover {
        background-color: $blackest;
        color: $white !important;
      }
    }
  }
}
