.btn {
    border: none;
    outline: none;
    @include transition(background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in, text-decoration 0.3s ease-in);
    cursor: pointer;
    box-sizing: border-box;
    @include box-shadow;
    
    &:hover {
        color: $primary;
    }

    &__primary {
        font-size: 16px;
        @include rounded;
        margin: 4px;
        background-color: $secondary;
        font-weight: bold;
        color: $white;
        padding: 10px 20px;

        &:hover,
        &:active,
        &:focus {
            background-color: $secondaryLight;
            color: $black !important;
        }

        &_grey {
            color: $greyMed;
            border: 1px solid $greyMed;
        }
    }

    &__secondary {}
}