$primaryDark: #081d3c;
// $primaryDark: rgb(11, 19, 39);
$primary: rgb(58, 82, 143);
$primaryLight: #AFB0C0;
$primaryLight2: rgb(63, 63, 63);

$secondary: #fe5215;
$secondaryLight: #f3926f;


$greyLight: #f4f3f2;
$greyDark: #404040;
$greyMed: rgb(150, 150, 156);
$white: #ffffff;
$whitish: #f9f9f9;

$lightBlack: #2b2929;
$black: #19110b;

$blackest: #0e0b0b;

$error: #ce665f;
$error-dark: #b44038;
$success: #93C47D;
$warning: rgb(255, 235, 132);

$transparentColor: rgba(255, 255, 255, 0);
// $primaryDark: #1E2E57;
