@import "./colors";
@import "./cards";
@import "./variables";
@import "./mixins";
@import "./utils";
@import "./fonts";
@import "./buttons";

html,
body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-repeat: no-repeat;
	font-size: 12px;
	width: 100%;
  font-family: $body-font;
  * {
    box-sizing: border-box;
  }
}
